.translated-inputs {
  margin-bottom: 2.5em;
}

/* styling of translation form */
form {
  .form-translation-tabs{

  }
  .form-translation-content .tab-pane{
    border-left: 1px solid #dddddd;
    padding-left: 15px;
    padding-top: 15px;
  }
}

