<%- model_class = User -%>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.user', count: 1)) %>

<div class='actions'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @user,
          show_path: admin_user_path(@user),
          index_path: admin_users_path
                }
  %>
</div>

<%= render partial: 'form' %>
