<%- model_class = User -%>
<% page_title t('shared.actions.with_obj.new',
                obj: t('activerecord.models.user', count: 1)) %>

<% if user_signed_in? %>
  <div class='actions'>
    <%= render partial: 'shared/new_actions',
          locals: {
            object: @user,
            index_path: admin_users_path
                  }
    %>
  </div>
<% end %>

<%= render partial: 'form' %>
