<% model_class = PageContent %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.page_content', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @page_content,
          show_path: admin_page_content_path(@page_content),
          index_path: admin_page_contents_path
                }
  %>
</div>

<%= render partial: 'form' %>
